body {
  background: black;
  height: 100px;
  float: left;
  color: white;
}
.inf {
  background: rgb(0, 0, 0);
  height: 150px;
  color: rgb(255, 255, 255);
  font-size: large;
}
.send {
  margin-left: 100px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%px;
  align-items: center;
}
